.freelance-section-bg-Img{
	background: "linear-gradient(to right, rgba(0,0,0,0.7 ), rgba(0,0,0,0.5)),url('/images/background/10.jpg" !important;
	background-size: "cover "!important;
	background-position: '20% 20% '!important;
}